body
{
	background-image: url(a.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: 'Acme', sans-serif;
}
.a
{
	color: white;
	text-align: center;
	font-size: 50px;
	position: absolute;
	top: 15%;
	left: 42%;
	text-shadow: 10px 10px 25px aqua;
}
.b
{
	position: absolute;
	top: 40%;
	left: 35%;
}
.y
{
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;

}
.ww
{
	font-size: 40px;
	text-align: center;
	color: white;
	text-shadow: 15px 15px 25px black;
}
.x
{
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
}
.qq
{
	position: absolute;
	font-size: 40px;
	font-family: 'Acme', sans-serif;
	top: 65%;
	left: 48%;
	background-color: #595959;
	color: white;
	box-shadow: 15px 15px 25px black;
}
.ee
{
	color: white;
	position: absolute;
	top: 75%;
	left: 43%;
	font-size: 50px;
	text-shadow: 15px 15px 25px black;
	text-shadow: 15px 15px 25px black;
}